# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
chatterino-api-cache
api

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

cached/

# dlv debug bin. Created when debugging with "go-delve".
__debug_bin
