base_url: ""
bind_address: ":1234"
max_content_length: 5242880
enable_lilliput: true

discord_token: ""
twitch_client_id: ""
twitch_client_secret: ""
youtube_api_key: ""
twitter_bearer_token: ""
imgur_client_id: ""
oembed_facebook_app_id: ""
oembed_facebook_app_secret: ""
oembed_providers_path: "./providers.json"
