base-url: ""
bind-address: ":1234"
max-content-length: 5242880
enable-lilliput: true

discord-token: ""
twitch-client-id: ""
twitch-client-secret: ""
youtube-api-key: ""
twitter-bearer-token: ""
imgur-client-id: ""
oembed-facebook-app-id: ""
oembed-facebook-app-secret: ""
oembed-providers-path: "./providers.json"
