[Unit]
Description=Chatterino 2 API
DefaultDependencies=no

[Service]
User=billy
ExecStart=/path/to/api/binary"
Restart=always
RestartSec=5s
;Environment="CHATTERINO_API_BASE_URL="
;Environment="CHATTERINO_API_BIND_ADDRESS=:1234"
;Environment="CHATTERINO_API_MAX_CONTENT_LENGTH=5242880"
;Environment="CHATTERINO_API_ENABLE_LILLIPUT=true"
;Environment="CHATTERINO_API_DISCORD_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_CACHE_TWITCH_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_TWITCH_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_YOUTUBE_API_KEY=XXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_TWITTER_BEARER_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_IMGUR_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_OEMBED_FACEBOOK_APP_ID=XXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_OEMBED_FACEBOOK_APP_SECRET=XXXXXXXXXXXXXXX"
;Environment="CHATTERINO_API_OEMBED_PROVIDERS_PATH=./providers.json"

[Install]
WantedBy=default.target
