---
name: Build

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        go: [1.15, 1.16]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/setup-go@v2.1.4
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v2.4.0

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build
        run: go build -ldflags="-s -w" -v -o ../../build/chatterino-api
        working-directory: cmd/api

      - name: Test
        run: go test -v ./...

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: chatterino-api-${{ matrix.go }}-${{ matrix.os }}
          path: build/chatterino-api

  create-release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v2.4.0
        with:
          path: 'project-git-repo'

      - uses: actions/download-artifact@v2
        with:
          name: chatterino-api-1.16-ubuntu-latest
          path: bins/ubuntu/

      - uses: actions/download-artifact@v2
        with:
          name: chatterino-api-1.16-macos-latest
          path: bins/macos/

      - uses: actions/download-artifact@v2
        with:
          name: chatterino-api-1.16-windows-latest
          path: bins/windows/

      - name: display structure
        run: ls -lR

      - name: rename files
        run: |
            mkdir final-bins
            mv bins/ubuntu/chatterino-api final-bins/chatterino-api-ubuntu-x86_64
            mv bins/windows/chatterino-api final-bins/chatterino-api-windows-x86_64.exe
            mv bins/macos/chatterino-api final-bins/chatterino-api-macos-x86_64

      - name: build-changelog
        run: sed "0,/## $(echo "$GITHUB_REF_VALUE" | cut -d '/' -f 3 | cut -c2-)/d" project-git-repo/CHANGELOG.md | sed '/^## /,+999999999999999999 d' | tail -n+2 | head -n-1 > release-body
        env:
          GITHUB_REF_VALUE: ${{ github.ref }}

      - name: create release
        uses: softprops/action-gh-release@v1
        with:
          body_path: release-body
          files: |
            final-bins/chatterino-api-ubuntu-x86_64
            final-bins/chatterino-api-windows-x86_64.exe
            final-bins/chatterino-api-macos-x86_64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
