---
name: Test

on:
  push:
    branches:
      - master
    tags:
      - "v*"
  pull_request:

jobs:
  test:
    name: "Test & upload coverage (${{ matrix.go }})"
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        go: ["oldstable", "stable"]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Get external dependencies (Ubuntu)
        run: sudo apt update && sudo apt -y install build-essential libvips-dev
      - name: Migration test
        run: go test -v -tags migrationtest ./...
      - name: Run coverage
        run: go test -race -coverprofile=coverage.txt -covermode=atomic -tags test ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: matrix.go == 'stable'
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
